# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* popular Libraries for Data Science
* popular programming languages for DataScience
* popular tools used for Data Science
* Basic arithmetic operations

Some of the commonly used libraries used by Data Scientists include:
1.Matplotlib
2.Pandas
3.Pytorch
4.Numpy
5.Tensorflow ...etc

Some of the popular languages that Data Scientists use are:
1.python
2.R-language
3.sequel
4.Julia
5.Java
6.C++...etc

|data science tools|
|---|
|SAS|
|Apache Spark|
|Apache Hadoop|
|RStudio|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 #This a simple arithmetic expression to mutiply then add integers

result=(3*4)+5
print(result)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
total_minutes=200
hr=60
total_hours=total_minutes/hr
print(total_hours)

3.3333333333333335

## AUTHOR

MOHANAKUMAR SUBRAMANIYAN